*
{
  margin: 0;
  padding: 0;
    
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image:  linear-gradient(to right, #a517ba, #5f1782 );
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
button Toggle navigation
{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler:hover
{
    outline: none !important;
    box-shadow: 2px 2px 4px #fff;
}
/*----------------------------------------------------------------Style section 2-----------------------------------------------------------------------------*/
#banner
{
   background-image:  linear-gradient(to right, #a517ba, #5f1782 );
   color: #fff;
   padding-top: 5%;
}
.t1
{
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
}
.playbtn
{
    width: 45px;
    margin: 20px;
    box-shadow: 2px 2px 4px #000;
}
#banner a
{
    color: #fff;
    text-decoration: none;
}
.img-fluid
{
    width: 400px;
    height: 400px;
}
.bottom-img{
    width: 100%;
   
}
#Service
{
    padding: 80px 0;
}
.Service-img
{
    width: 100px;
    margin-top: 20px;
}
.Service
{
    padding: 20%;
}
.Service h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.titre::before
{
    content: '';
    background:#7b1798;
    width:300px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-4px);
}

#Service .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image:  linear-gradient(to right, #a517ba, #5f1782 );
}
#denous
{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.denous-titre
{
    font-size: 30px;
    font-weight: 600;
    margin-top:8%;
}
#denous ul li
{
    margin: 10px 0;
}
#testmo
{
  margin: 100px;
}
.testmo
{
  border-left:4px solid #7b1798;
  margin-top: 50px;
  margin-bottom:50px;
}
.testmo img
{
  height:60px;
  width:60px;
  border-radius:50%;
  margin: 0 10px;
}
.detail
{
  display: inline-block;
  font-size: 12px;
}
#socio
{
  background:#f8f9fa;
  padding:100px 0;
}
#socio
{
  font-size:36px;
  font-weight:600;
  margin-bottom:30px;
}
.socio-icon img
{
  width: 60px;
  transition: 0.5s;
}
.socio-icon a:hover img
{
  transform: translateY(-10px);
}
#footer
{
  background-image:  linear-gradient(to right, #a517ba, #5f1782 );
  color: #fff;
}
.footer-img
{
  width: 100%
}
.footer-box
{
  padding: 20px;
}
.footer-box img
{
  width: 120px;
  margin-bottom: 20px;
}
.footer-box .fa
{
  margin-right: 8px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image:  linear-gradient(to right, #a517ba, #5f1782 );
}
.footer-box p img
{
  width: 50px;
   background-image:  linear-gradient(to right, #a517ba, #5f1782 );
   border-radius: 2px;
}
.footer-box p img:hover
{
  box-shadow: 2px 2px 4px black;
}
.footer-box .form-control
{
  box-shadow: none !important;
  border-radius: 0px;
  border: none;
  margin-top: 25px;
  max-width:250px;
}
.footer-box .btn-primary
{
   box-shadow: none !important;
  border-radius: 0px;
  border: none;
  margin-top: 30px;
  background-image:  linear-gradient(to right, #a517ba, #5f1782 );
}
hr
{
  background-color: #fff;
}
.copi
{
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}

















