*
{
  margin: 0;
  padding: 0;
    
}
body
{
    font-family: sans-serif;
}
.navbar-nav a
{
    color: #000 !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.carousel-inner img
{
  width: 100%;
  height: 590px;
}
.para::before
{
  content: '';
  background-color: #302D2D;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: 2px;
  display: block;
  transform: translateY(80px);
}
.para
{
  font-size: 50px;
}
#sec-bienvenue p
{
  text-align: center;
}
.bon b
{
  color: #8C3821;
  font-size: 50px;
  font-weight: 700;
}
.bon1 b
{
  color: #722572;
  font-size: 50px;
  font-weight: 700;
}
hr
{
  background-color: #F7EFEF;
}
/*---------------------------------------------------------------les gif---------------------------------------------------------------------------------*/
.bakgif
{
  width: 100%;
  height:500px;
}
.sec3
{
  font-size: 50px;
}
.sec3::before
{
  content: '';
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: 2px;
  background-color:#302D2D;
  display: block;
  transform: translateY(80px);
}
.sec-4
{
  margin-top:100px;
}
/*---------------------------------------------------------------sec5---------------------------------------------------------------------------------*/
#sec5 img
{
  width: 50px;
}
.fun
{
  border-radius: 2px;
}
.navbar-nav a
{
  color: #fff !important;
}
.imbas::before
{
  content: '';
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 2px;
  display: block;
  background-color: #fff;
  transform: translateY(2px);
}
.horaire::before
{
  content: '';
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 2px;
  display: block;
  background-color: #fff;
  transform: translateY(1px);
}
.horaire::after
{
  content: '';
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 2px;
  display: block;
  background-color: #fff;
  transform: translateY(15px);
}
.Area::before
{
  content: '';
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 2px;
  display: block;
  background-color: #fff;
  transform: translateY(1px);
}
.Area::after
{
  content: '';
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 2px;
  display: block;
  background-color: #fff;
  transform: translateY(15px);
}
#sec-footer
{
  background-color:#313639;
}
#sec-footer p
{
  color: #fff;
}
.hr-footer
{
  background-color: #fff;
}













